/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
wsl/*
*.patch
.idea/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
vendor/*
!vendor/github.com/ontio/ontology-crypto/*
Chain/*
wallet.dat
cscope*
*.exe
glide.lock
*.iml
nvm-tool
